SPOProjectListSync/LogicApp.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string",
      "minLength": 1,
      "maxLength": 80,
      "metadata": {
        "description": "Name of the Logic App."
      }
    },
    "logicAppLocation": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "allowedValues": [
        "[resourceGroup().location]",
        "eastasia",
        "southeastasia",
        "centralus",
        "eastus",
        "eastus2",
        "westus",
        "northcentralus",
        "southcentralus",
        "northeurope",
        "westeurope",
        "japanwest",
        "japaneast",
        "brazilsouth",
        "australiaeast",
        "australiasoutheast",
        "southindia",
        "centralindia",
        "westindia",
        "canadacentral",
        "canadaeast",
        "uksouth",
        "ukwest",
        "westcentralus",
        "westus2",
        "koreacentral",
        "koreasouth",
        "francecentral",
        "francesouth",
        "uaecentral",
        "uaenorth",
        "southafricanorth",
        "southafricawest",
        "switzerlandnorth",
        "switzerlandwest",
        "germanynorth",
        "germanywestcentral",
        "norwayeast",
        "brazilsoutheast"
      ],
      "metadata": {
        "description": "Location of the Logic App."
      }
    },
    "sharepointonline_1_Connection_Name": {
      "type": "string",
      "defaultValue": "sharepointonline"
    },
    "sharepointonline_1_Connection_DisplayName": {
      "type": "string",
      "defaultValue": ""
    },
    "sharepointonline_1_token:TenantId": {
      "type": "string",
      "metadata": {
        "description": "The tenant ID of for the Azure Active Directory application"
      }
    },
    "documentdb_1_Connection_Name": {
      "type": "string",
      "defaultValue": "documentdb"
    },
    "documentdb_1_Connection_DisplayName": {
      "type": "string",
      "defaultValue": ""
    },
    "documentdb_1_databaseAccount": {
      "type": "string",
      "metadata": {
        "description": "Name of the account without 'documents.azure.com' part"
      },
      "defaultValue": ""
    },
    "documentdb_1_accessKey": {
      "type": "securestring",
      "metadata": {
        "description": "Primary or Secondary Key"
      }
    }
  },
  "variables": {},
  "resources": [
    {
      "name": "[parameters('logicAppName')]",
      "type": "Microsoft.Logic/workflows",
      "location": "[parameters('logicAppLocation')]",
      "tags": {
        "displayName": "LogicApp"
      },
      "apiVersion": "2016-06-01",
      "properties": {
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "Get_item": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                  }
                },
                "method": "get",
                "path": "/datasets/@{encodeURIComponent(encodeURIComponent('{your SharePoint tenant URL here}'))}/tables/@{encodeURIComponent(encodeURIComponent(''))}/items/@{encodeURIComponent(triggerBody()?['ID'])}"
              },
              "runAfter": {}
            },
            "Parse_JSON": {
              "type": "ParseJson",
              "inputs": {
                "content": "@body('Get_item')",
                "schema": {
                  "type": "object",
                  "properties": {
                    "@@odata.etag": {
                      "type": "string"
                    },
                    "ItemInternalId": {
                      "type": "string"
                    },
                    "ID": {
                      "type": "integer"
                    },
                    "Title": {
                      "type": "string"
                    },
                    "Description": {
                      "type": "string"
                    },
                    "Type": {
                      "type": "object",
                      "properties": {
                        "@@odata.type": {
                          "type": "string"
                        },
                        "Id": {
                          "type": "integer"
                        },
                        "Value": {
                          "type": "string"
                        }
                      }
                    },
                    "Type#Id": {
                      "type": "integer"
                    },
                    "EffortHours": {
                      "type": "integer"
                    },
                    "StartDate": {
                      "type": "string"
                    },
                    "EndDate": {
                      "type": "string"
                    },
                    "ExpirationDate": {
                      "type": "string"
                    },
                    "Location": {
                      "type": "string"
                    },
                    "Skill1": {
                      "type": "string"
                    },
                    "Skill2": {
                      "type": "string"
                    },
                    "PostedBy": {
                      "type": "object",
                      "properties": {
                        "@@odata.type": {
                          "type": "string"
                        },
                        "Claims": {
                          "type": "string"
                        },
                        "DisplayName": {
                          "type": "string"
                        },
                        "Email": {},
                        "Picture": {},
                        "Department": {},
                        "JobTitle": {}
                      }
                    },
                    "PostedBy#Claims": {
                      "type": "string"
                    },
                    "Status": {
                      "type": "object",
                      "properties": {
                        "@@odata.type": {
                          "type": "string"
                        },
                        "Id": {
                          "type": "integer"
                        },
                        "Value": {
                          "type": "string"
                        }
                      }
                    },
                    "Status#Id": {
                      "type": "integer"
                    },
                    "Modified": {
                      "type": "string"
                    },
                    "Created": {
                      "type": "string"
                    },
                    "Author": {
                      "type": "object",
                      "properties": {
                        "@@odata.type": {
                          "type": "string"
                        },
                        "Claims": {
                          "type": "string"
                        },
                        "DisplayName": {
                          "type": "string"
                        },
                        "Email": {},
                        "Picture": {},
                        "Department": {},
                        "JobTitle": {}
                      }
                    },
                    "Author#Claims": {
                      "type": "string"
                    },
                    "Editor": {
                      "type": "object",
                      "properties": {
                        "@@odata.type": {
                          "type": "string"
                        },
                        "Claims": {
                          "type": "string"
                        },
                        "DisplayName": {
                          "type": "string"
                        },
                        "Email": {
                          "type": "string"
                        },
                        "Picture": {
                          "type": "string"
                        },
                        "Department": {},
                        "JobTitle": {}
                      }
                    },
                    "Editor#Claims": {
                      "type": "string"
                    },
                    "{Identifier}": {
                      "type": "string"
                    },
                    "{IsFolder}": {
                      "type": "boolean"
                    },
                    "{Thumbnail}": {
                      "type": "object",
                      "properties": {
                        "Large": {},
                        "Medium": {},
                        "Small": {}
                      }
                    },
                    "{Link}": {
                      "type": "string"
                    },
                    "{Name}": {
                      "type": "string"
                    },
                    "{FilenameWithExtension}": {
                      "type": "string"
                    },
                    "{Path}": {
                      "type": "string"
                    },
                    "{FullPath}": {
                      "type": "string"
                    },
                    "{HasAttachments}": {
                      "type": "boolean"
                    },
                    "{VersionNumber}": {
                      "type": "string"
                    }
                  }
                }
              },
              "runAfter": {
                "Get_item": [
                  "Succeeded"
                ]
              }
            },
            "Initialize_variable": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "DocumentJSON",
                    "type": "string",
                    "value": "{\"id\":\"@{body('Parse_JSON')?['ID']}\","
                  }
                ]
              },
              "runAfter": {
                "Parse_JSON": [
                  "Succeeded"
                ]
              }
            },
            "Initialize_variable_2": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "DocumentJSONFinal",
                    "type": "string",
                    "value": "@{concat(variables('DocumentJSON'),substring(string(body('Parse_JSON')), 1))}"
                  }
                ]
              },
              "runAfter": {
                "Initialize_variable": [
                  "Succeeded"
                ]
              }
            },
            "Create_or_update_document": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['documentdb']['connectionId']"
                  }
                },
                "method": "post",
                "body": "@variables('DocumentJSONFinal')",
                "headers": {
                  "x-ms-documentdb-raw-partitionkey": "\"@{body('Parse_JSON')?['ID']}\"",
                  "x-ms-documentdb-is-upsert": true
                },
                "path": "/dbs/@{encodeURIComponent('SharePointSync')}/colls/@{encodeURIComponent('ProjectList')}/docs"
              },
              "runAfter": {
                "Initialize_variable_2": [
                  "Succeeded"
                ]
              }
            }
          },
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "When_an_item_is_created_or_modified": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                  }
                },
                "method": "get",
                "path": "/datasets/@{encodeURIComponent(encodeURIComponent('{your SharePoint URL here}'))}/tables/@{encodeURIComponent(encodeURIComponent(''))}/onupdateditems"
              },
              "recurrence": {
                "frequency": "Minute",
                "interval": 1
              },
              "splitOn": "@triggerBody()?['value']"
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "sharepointonline": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'sharepointonline')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('sharepointonline_1_Connection_Name'))]",
                "connectionName": "[parameters('sharepointonline_1_Connection_Name')]"
              },
              "documentdb": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'documentdb')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('documentdb_1_Connection_Name'))]",
                "connectionName": "[parameters('documentdb_1_Connection_Name')]"
              }
            }
          }
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', parameters('sharepointonline_1_Connection_Name'))]",
        "[resourceId('Microsoft.Web/connections', parameters('documentdb_1_Connection_Name'))]"
      ]
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2018-07-01-preview",
      "name": "[parameters('sharepointonline_1_Connection_Name')]",
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'sharepointonline')]"
        },
        "displayName": "[parameters('sharepointonline_1_Connection_DisplayName')]",
        "nonSecretParameterValues": {
          "token:TenantId": "[parameters('sharepointonline_1_token:TenantId')]"
        }
      }
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2018-07-01-preview",
      "name": "[parameters('documentdb_1_Connection_Name')]",
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'documentdb')]"
        },
        "displayName": "[parameters('documentdb_1_Connection_DisplayName')]",
        "parameterValues": {
          "databaseAccount": "[parameters('documentdb_1_databaseAccount')]",
          "accessKey": "[parameters('documentdb_1_accessKey')]"
        }
      }
    }
  ],
  "outputs": {}
}